<p style="color: green"><%= notice %></p>

<h1>Restaurant</h1>

<div>
  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>
  <br>

  <p>
    <strong>Cuisine:</strong>
    <%= @restaurant.category %>
  </p>
  <br>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>
  <br>

  <p>
    <strong>Phone number:</strong>
    <%= @restaurant.phone_number %>
  </p>
  <br>

  <p><strong>Reviews:</strong></p>

  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.rating %>
      </li>
      <li>
        <%= review.content %>
      </li>
      <br>
    <% end %>
  </ul>
  <br>
</div>


<%= link_to "+ Add a Review", new_restaurant_review_path(@restaurant) %>
